.cute-section {
    min-height: 65vh;
    background-image: url(mochi\ background.jpg);
    background-position: center;
    background-size: cover;
}

.d-flex {
    display: flex;
}

.font-change {
    font-family: 'Times New Roman', Times, serif;
}

.w-50 {
    width: 50%;
}

.top-m {
    margin-top: 110px;
}



@media screen and (min-width: 768px) {

    .magic-container {
        position: relative
    }

    .magic-card {
        position: absolute;
        top: 100px;
    }

    .magic-offset {
        margin-bottom: 2em;
    }
}


.a {
    text-decoration: none;
}

.main-icon {
    font-size: 80px;
}

.end-cute {
    background-position: center;
    background-size: cover;
    background-image: url(20220923_183202.jpg);
    min-height: 40vh;
}